/Debug

/InputLagTimer/Debug

/*.sdf

/*.suo
/*.opensdf

/ipch
/DirectXTK/Bin
/DirectXTK/*.sdf
/DirectXTK/*.suo
/DirectXTK/MakeSpriteFont/bin
/DirectXTK/MakeSpriteFont/obj
/Release

/InputLagTimer/Release
